body {
	margin: auto;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	line-height: 25px;
	background: #ededed;
}

a {
	text-decoration: none;
}

figure {
	position: relative;
	margin: 0;
	padding: 0;
}

figure img {
	display: block;
	max-width: 100%;
	height: auto;
}

figure figcaption.caption {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.75);
	color: #fefefe;
	text-align: center;
}

fieldset {
	margin: 0;
	padding: 1%;
	border: none;
}

fieldset input,
fieldset button,
fieldset select {
	font-family: 'Roboto Condensed', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0;
}

h1 { font-size: 24pt; }
h2 { font-size: 22pt; }
h3 { font-size: 20pt; }
h4 { font-size: 18pt; }
h5 { font-size: 16pt; }
h6 { font-size: 14pt; }

.text-bold {
	font-weight: bold;
}

.text-normal {
	font-weight: normal;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}


/**/
.wrapper {
	margin: auto;
	max-width: 1200px;
}

.flex-wrapper-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto;
	padding: 2% 0%;
	max-width: 1200px;
}

.container {
	scroll-snap-type: y mandatory;
}

section:nth-child(1) {
	background: #32609F;
}

.col3 {
	margin: 1%;
	padding: 3%;
	width: 25%;
	background: #fff;
}

.col5 {
	margin: 1%;
	width: 45%;
	border: 1px solid #ccc;
}

.col10 {
	margin: 1%;
	padding: 3%;
	width: 92%;
}