section.datapacks-section {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}


figure.datapacks {
	margin: 0.5%;
	width: 23%;
	border: 1px solid rgba(255, 255, 255, 0.10);
}

@media screen and (max-width: 768px) {
	figure.datapacks {
		width: 31.1%;
	}
}


@media screen and (max-width: 575px) {
	figure.datapacks {
		width: 30.40%;
	}
}

@media screen and (max-width: 425px) {
	figure.datapacks {
		margin: auto;
		width: 46%;
	}

	figure.datapacks img {
		margin: auto;
	}
}

@media screen and (max-width: 320px) {
	figure.datapacks {
		width: 96%;
	}
}

figure.datapacks img.modal-btn {
	height: 300px;
}

figure.datapacks:hover {
	animation: Zoom 500ms;
}

figure.datapacks:hover figcaption:after {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.45);
	color: #fff;
	cursor: pointer;
	content: "Click to view more information";
}

nav.num-menu {
	background: #101010;
	border-bottom: 5px double #101010;
}