section#about {
	background: #F1F1F1;
	padding: 1.5%;
}

section#about .title {
	font-size: 50px;
	padding: 1%;
}

section#about .subtitle {
	padding: 1%;
}

section#datapacks {
	background: #102756;
}


header.heading {
	position: sticky;
	top: 0;
	z-index: 1;
	background: #fff;
}

nav.navigation {
	display: flex;
}

nav.navigation ul.logo-nav,
nav.navigation ul.main-nav {
	margin: 0;
	padding: 1% 0%;
	list-style-type: none;
}

nav.navigation ul.logo-nav {
	flex-grow: 0.9;
	justify-content: flex-start;
}

nav.navigation ul.logo-nav h2 {
	display: flex;
	height: 100%;
	margin: auto;
	justify-content: center;
	align-items: center;
}

nav.navigation ul.main-nav {
	display: flex;
	flex-grow: 3;
	justify-content: flex-end;
}

nav.navigation ul.main-nav li {
	text-transform: uppercase;
	padding: 3%;
}


.datapacks-section {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}


figure.datapacks {
	margin: 0.5%;
	width: 23.8%;
	border: 1px solid rgba(255, 255, 255, 0.10);
}

@media screen and (max-width: 768px) {
	figure.datapacks {
		width: 31.1%;
	}
}


@media screen and (max-width: 575px) {
	figure.datapacks {
		width: 30.40%;
	}
}

@media screen and (max-width: 425px) {
	figure.datapacks {
		margin: auto;
		width: 46%;
	}

	figure.datapacks img {
		margin: auto;
	}
}

@media screen and (max-width: 320px) {
	figure.datapacks {
		width: 96%;
	}
}

figure.datapacks img.modal-btn {
	height: 300px;
}

figure.datapacks:hover {
	animation: Zoom 500ms;
}

figure.datapacks:hover figcaption:after {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.45);
	color: #fff;
	cursor: pointer;
	content: "Click to view more information";
}

nav.num-menu {
	background: #101010;
}

footer {
	padding: 1.5%;
	background: #101010;
	color: #f9f9f9;
}