@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
	margin: auto;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	line-height: 25px;
}

a {
	text-decoration: none;
}

figure {
	position: relative;
	margin: 0;
	padding: 0;
}

figure img {
	display: block;
	max-width: 100%;
	height: auto;
}

figure figcaption.caption {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.75);
	color: #fefefe;
	text-align: center;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0;
}

h1 { font-size: 24pt; }
h2 { font-size: 22pt; }
h3 { font-size: 20pt; }
h4 { font-size: 18pt; }
h5 { font-size: 16pt; }
h6 { font-size: 14pt; }

.wrapper {
	margin: auto;
	padding: 2%;
	max-width: 1200px;
}

.grid-datapacks {
	display: grid;
	grid-gap: 15px;
	grid-template-areas:
	"title title title title"
	"mmo mmo_quests player_shops permissions"
	"storage claims dimensions assets";
}

#datapacks-title { grid-area: title; text-align: center; }
#mmo { grid-area: mmo; }
#mmo_quests { grid-area: mmo_quests; }
#player_shops { grid-area: player_shops; }
#permissions { grid-area: permissions; }
#storage { grid-area: storage; }
#claims { grid-area: claims; }
#dimensions { grid-area: dimensions; }
#assets { grid-area: assets; }

figure.datapacks {
	border: 1px solid #cccccc;
}

figure.datapacks img {
	height: 300px;
}

figure.datapacks figcaption.modal-btn {
	padding: 5%;
	text-align: center;
	background: #202020;
	color: #c9c9c9;
	cursor: pointer;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.85);
	z-index: 1;
	display: none;
}

.modal {
	display: none;
	flex-wrap: wrap;
	flex-direction: row;
	position: fixed;
	top: 7%;
	left: 25%;
	right: 25%;
	width: 50%;
	height: 75%;
	background: #fff;
}

nav.model-nav {
	width: 100%;
	background: #0D5BC6;
}


h4.dropmenu_title {
	position: relative;
	background: #010101;
	border-top: 2px solid #505050;
	border-bottom: 1px solid #303030;
	padding: 6%;
	color: #d9d9d9;
	cursor: pointer;
	text-align: center;
}

ul.dropmenu_section {
	display: none;
}

nav.model-nav ul {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: right;
}

nav.model-nav ul li {
	display: block;
	padding: 2%;
}

nav.model-nav ul li.cls-modal {
	cursor: pointer;
	background: rgba(0, 0, 0, 0.25);
	color: #fefefe;
}

nav.model-nav ul li.cls-modal:hover {
	background-color: #DE0E0E;
}

nav.modal-menu {
	position: sticky;
	top: 0px;
	height: 91%;
	width: 30%;
	background: #090909;
	overflow-y: auto;
}

nav.modal-menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav.modal-menu ul li,
nav.modal-menu ul li a {
	color: #fefefe;
}

nav.modal-menu ul li {
	padding: 5%;
	background: #252525;
	border-top: 1px solid #252525;
	border-bottom: 1px solid #454545;
	text-align: center;
	color: #fefefe;
}

nav.modal-menu ul li:hover {
	background:rgba(255, 255, 255, 0.20);
}

section.model-info {
	width: 64%;
	padding: 3%;
	overflow-y: auto;
}