.dropmenu_title {
	position: relative;
	background: #010101;
	border-top: 1px solid #505050;
	border-bottom: 4px double #303030;
	padding: 4%;
	color: #d9d9d9;
	cursor: pointer;
	text-align: left;
}

@media screen and (max-width: 768px) {
	.dropmenu_title {
		padding: 2%;
	}
}

@media screen and (max-width: 575px) {
	.dropmenu_title {
		padding: 4%;
	}
}

.dropmenu_title:after {
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	font-size: 16px;
	padding: 5%;
	content: "+";
	background: #303030;
}

@media screen and (max-width: 768px) {
	.dropmenu_title:after {
		padding: 3%;
	}
}

@media screen and (max-width: 575px) {
	.dropmenu_title:after {
		padding: 4%;
	}
}

ul.dropmenu_section {
	display: none;
}